NEW.S.2018.Masarnouski.16/DAL.Interfaces/obj/
NEW.S.2018.Masarnouski.16/DAL/bin/Debug/DAL.dll.config
NEW.S.2018.Masarnouski.16/DAL/bin/
NEW.S.2018.Masarnouski.16/DAL/obj/Debug/DAL.csproj.FileListAbsolute.txt
NEW.S.2018.Masarnouski.16/DAL/obj/Debug/DAL.dll
NEW.S.2018.Masarnouski.16/DAL.Interfaces/bin/Debug/DAL.Interfaces.pdb
NEW.S.2018.Masarnouski.16/DAL.Interfaces/bin/Debug/DAL.Interfaces.exe.config
NEW.S.2018.Masarnouski.16/packages/NLog.Schema.4.5.4/contentFiles/any/any/NLog.xsd
NEW.S.2018.Masarnouski.16/packages/NLog.Schema.4.5.4/content/NLog.xsd
NEW.S.2018.Masarnouski.16/packages/NLog.Schema.4.5.4/NLog.Schema.4.5.4.nupkg
NEW.S.2018.Masarnouski.16/packages/NLog.Config.4.5.4/tools/Install.ps1
NEW.S.2018.Masarnouski.16/packages/NLog.Config.4.5.4/contentFiles/any/any/NLog.config
NEW.S.2018.Masarnouski.16/packages/NLog.Config.4.5.4/content/NLog.config
NEW.S.2018.Masarnouski.16/packages/NLog.Config.4.5.4/NLog.Config.4.5.4.nupkg
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/xamarinios10/NLog.xml
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/xamarinios10/NLog.dll
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/wp8/NLog.xml
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/wp8/NLog.dll
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/sl5/NLog.xml
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/sl5/NLog.dll
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/sl4/NLog.xml
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/sl4/NLog.dll
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/netstandard2.0/NLog.xml
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/netstandard2.0/NLog.dll
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/netstandard1.5/NLog.xml
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/netstandard1.5/NLog.dll
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/netstandard1.3/NLog.xml
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/netstandard1.3/NLog.dll
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/net45/NLog.xml
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/net45/NLog.dll
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/net40-client/NLog.xml
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/net40-client/NLog.dll
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/net35/NLog.xml
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/net35/NLog.dll
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/monoandroid44/NLog.xml
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/lib/monoandroid44/NLog.dll
NEW.S.2018.Masarnouski.16/packages/NLog.4.5.4/NLog.4.5.4.nupkg
NEW.S.2018.Masarnouski.16/DAL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NEW.S.2018.Masarnouski.16/DAL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NEW.S.2018.Masarnouski.16/DAL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NEW.S.2018.Masarnouski.16/DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NEW.S.2018.Masarnouski.16/DAL/obj/Debug/DAL.pdb
NEW.S.2018.Masarnouski.16/DAL/obj/Debug/DAL.csprojResolveAssemblyReference.cache
NEW.S.2018.Masarnouski.16/DAL/obj/Debug/DAL.csproj.CoreCompileInputs.cache
NEW.S.2018.Masarnouski.16/DAL/obj/Debug/DAL.csproj.CopyComplete
NEW.S.2018.Masarnouski.16/DAL.Interfaces/bin/Debug/DAL.Interfaces.exe
NEW.S.2018.Masarnouski.16/ConsolePL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NEW.S.2018.Masarnouski.16/ConsolePL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NEW.S.2018.Masarnouski.16/ConsolePL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NEW.S.2018.Masarnouski.16/ConsolePL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NEW.S.2018.Masarnouski.16/ConsolePL/obj/Debug/ConsolePL.pdb
NEW.S.2018.Masarnouski.16/ConsolePL/obj/Debug/ConsolePL.exe
NEW.S.2018.Masarnouski.16/ConsolePL/obj/Debug/ConsolePL.csprojResolveAssemblyReference.cache
NEW.S.2018.Masarnouski.16/ConsolePL/obj/Debug/ConsolePL.csproj.FileListAbsolute.txt
NEW.S.2018.Masarnouski.16/ConsolePL/obj/Debug/ConsolePL.csproj.CoreCompileInputs.cache
NEW.S.2018.Masarnouski.16/ConsolePL/obj/Debug/ConsolePL.csproj.CopyComplete
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/file.txt
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/XML_result.xml
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/NLog.xml
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/NLog.dll
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/NLog.config
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/DAL.pdb
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/DAL.dll.config
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/DAL.dll
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/DAL.Interfaces.pdb
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/DAL.Interfaces.exe.config
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/DAL.Interfaces.exe
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/ConsolePL.pdb
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/ConsolePL.exe.config
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/ConsolePL.exe
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/BLL.pdb
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/BLL.dll.config
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/BLL.dll
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/BLL.Interfaces.pdb
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/BLL.Interfaces.exe.config
NEW.S.2018.Masarnouski.16/ConsolePL/bin/Debug/BLL.Interfaces.exe
NEW.S.2018.Masarnouski.16/BLL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NEW.S.2018.Masarnouski.16/BLL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NEW.S.2018.Masarnouski.16/BLL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NEW.S.2018.Masarnouski.16/BLL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NEW.S.2018.Masarnouski.16/BLL/obj/Debug/BLL.pdb
NEW.S.2018.Masarnouski.16/BLL/obj/Debug/BLL.dll
NEW.S.2018.Masarnouski.16/BLL/obj/Debug/BLL.csprojResolveAssemblyReference.cache
NEW.S.2018.Masarnouski.16/BLL/obj/Debug/BLL.csproj.FileListAbsolute.txt
NEW.S.2018.Masarnouski.16/BLL/obj/Debug/BLL.csproj.CoreCompileInputs.cache
NEW.S.2018.Masarnouski.16/BLL/obj/Debug/BLL.csproj.CopyComplete
NEW.S.2018.Masarnouski.16/BLL/bin/Debug/NLog.xml
NEW.S.2018.Masarnouski.16/BLL/bin/Debug/NLog.dll
NEW.S.2018.Masarnouski.16/BLL/bin/Debug/NLog.config
NEW.S.2018.Masarnouski.16/BLL/bin/Debug/DAL.Interfaces.pdb
NEW.S.2018.Masarnouski.16/BLL/bin/Debug/DAL.Interfaces.exe.config
NEW.S.2018.Masarnouski.16/BLL/bin/Debug/DAL.Interfaces.exe
NEW.S.2018.Masarnouski.16/BLL/bin/Debug/BLL.pdb
NEW.S.2018.Masarnouski.16/BLL/bin/Debug/BLL.dll.config
NEW.S.2018.Masarnouski.16/BLL/bin/Debug/BLL.dll
NEW.S.2018.Masarnouski.16/BLL/bin/Debug/BLL.Interfaces.pdb
NEW.S.2018.Masarnouski.16/BLL/bin/Debug/BLL.Interfaces.exe.config
NEW.S.2018.Masarnouski.16/BLL/bin/Debug/BLL.Interfaces.exe
NEW.S.2018.Masarnouski.16/BLL.Interfaces/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NEW.S.2018.Masarnouski.16/BLL.Interfaces/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NEW.S.2018.Masarnouski.16/BLL.Interfaces/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NEW.S.2018.Masarnouski.16/BLL.Interfaces/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NEW.S.2018.Masarnouski.16/BLL.Interfaces/obj/Debug/BLL.Interfaces.pdb
NEW.S.2018.Masarnouski.16/BLL.Interfaces/obj/Debug/BLL.Interfaces.exe
NEW.S.2018.Masarnouski.16/BLL.Interfaces/obj/Debug/BLL.Interfaces.csprojResolveAssemblyReference.cache
NEW.S.2018.Masarnouski.16/BLL.Interfaces/obj/Debug/BLL.Interfaces.csproj.FileListAbsolute.txt
NEW.S.2018.Masarnouski.16/BLL.Interfaces/obj/Debug/BLL.Interfaces.csproj.CoreCompileInputs.cache
NEW.S.2018.Masarnouski.16/BLL.Interfaces/obj/Debug/BLL.Interfaces.csproj.CopyComplete
NEW.S.2018.Masarnouski.16/BLL.Interfaces/bin/Debug/DAL.Interfaces.pdb
NEW.S.2018.Masarnouski.16/BLL.Interfaces/bin/Debug/DAL.Interfaces.exe.config
NEW.S.2018.Masarnouski.16/BLL.Interfaces/bin/Debug/DAL.Interfaces.exe
NEW.S.2018.Masarnouski.16/BLL.Interfaces/bin/Debug/BLL.Interfaces.pdb
NEW.S.2018.Masarnouski.16/BLL.Interfaces/bin/Debug/BLL.Interfaces.exe.config
NEW.S.2018.Masarnouski.16/BLL.Interfaces/bin/Debug/BLL.Interfaces.exe
NEW.S.2018.Masarnouski.16/.vs/NEW.S.2018.Masarnouski.16/v15/Server/sqlite3/storage.ide
NEW.S.2018.Masarnouski.16/.vs/NEW.S.2018.Masarnouski.16/v15/Server/sqlite3/db.lock
NEW.S.2018.Masarnouski.16/.vs/NEW.S.2018.Masarnouski.16/v15/.suo
NEW.S.2018.Masarnouski.16/BLL/NLog.xsd
NEW.S.2018.Masarnouski.16/packages/Ninject.3.3.4/lib/netstandard2.0/Ninject.xml
NEW.S.2018.Masarnouski.16/packages/
NEW.S.2018.Masarnouski.16/DependencyResolver/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NEW.S.2018.Masarnouski.16/DependencyResolver/obj/
NEW.S.2018.Masarnouski.16/DependencyResolver/bin/
NEW.S.2018.Masarnouski.16/ConsolePL/bin/
